@media screen and (max-width: 625px){
  .header__logged-in_active {
    visibility: visible;
    opacity: 1;
    max-height: 114px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    transition: opacity .5s ease, max-height .5s ease;
    padding-bottom: 40px;
    margin-bottom: 27px;
  }
}