.login__input {
  margin-bottom: 30px;
  background: #000;
  border: none;
  border-bottom: 2px solid #CCC;
  color: #FFF;
  height: 27px;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.login__input:last-of-type {
  margin-bottom: 0;
}