.header__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
}
.header__link:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .3s ease;
}