.header__logged-in {
  display: flex;
}
@media screen and (max-width: 625px){
  .header__logged-in {
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    order: 0;
  }
}