.auth__submit {
  margin-top: 216px;
  height: 50px;
  border-radius: 2px;
  border: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.auth__submit:hover {
  cursor: pointer;
  opacity: .85;
  transition: opacity .3s ease;
}