.header {
  width: 68.75%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 625px){
  .header {
    width: 100%;
    flex-direction: column;
  }
}